//пар
.vapour {
  position: relative;
  display: flex;
  z-index: 1;
  padding: 0 20px;
}
.vapour span {
  position: relative;
  bottom: 50px;
  display: block;
  margin: 0 2px 50px;
  min-width: 3px;
  height: 50px;
  background: #2fff00;
  border-radius: 50%;
  animation: animate 5s linear infinite;
  opacity: 0;
  filter: blur(10px);
  animation-delay: calc(var(--i) * -0.5s);
}
@keyframes animate {
  0% {
    transform: translateY(0) scaleX(5);
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  50% {
    transform: translateY(80px) scaleX(3);
  }
  95% {
    opacity: 0;
  }
  100% {
    transform: translateY(-50px) scaleX(10);
    opacity: 0;
  }
}
.cauldron {
  position: absolute;
  width: 150px;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  @media screen and (max-width: 767.5px) {
    bottom: 5px;
  }
}
